NODE_ENV=development
PORT=4000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=sistema_turnos_dev
DB_USER=postgres
DB_PASSWORD=postgres

JWT_SECRET=changeme
JWT_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:5173
